<?xml version="1.6" ?>
<launch>
    <!-- to set the path from our customs models -->
    <env name="GAZEBO_MODEL_PATH" value="$(find engrais_gazebo)/models/" />

    <!-- these are the arguments you can pass this launch file, for example world:=engrais2 -->
    <arg name="world" default="engrais"/>
    <!-- the body size is needed for the LiDAR static transform and to set the initial robot pose -->
    <arg name="body_size" default="1.1"/>
    <arg name="body_size_2" default="$(eval arg('body_size')/2)"/>

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description"
       command="$(find xacro)/xacro '$(find engrais_description)/urdf/engrais.xacro' body_size_x:=$(arg body_size)" />

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model engrais_robot -param robot_description -x 0 -y 0 -Y 0"/>

    <!-- static transform from the world to the front LiDAR -->
    <node pkg="tf"
        type="static_transform_publisher"
        name="world_laser_front_broadcaster"
        args="$(arg body_size_2) 0 0 0 0 0 world sick_front_link 100" />

    <!-- static transform from the world to the back LiDAR -->
    <node pkg="tf"
        type="static_transform_publisher"
        name="world_laser_back_broadcaster"
        args="-$(arg body_size_2) 0 0 3.14159 0 0 world sick_back_link 100" />

    <!-- ros_control mybot launch file -->
    <include file="$(find engrais_control)/launch/engrais_control.launch" />

</launch>
