<?xml version="1.0" ?>
<launch>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find engrais_control)/config/engrais_control.yaml" command="load"/>

    <!-- Default body size (2meters) -->
    <arg name="body_size" default="2"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/engrais" args="joint_state_controller
                                              rightWheel_controller
                                              leftWheel_controller"/>


    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen">
        <param name="engrais_description"
               command="$(find xacro)/xacro '$(find engrais_description)/urdf/engrais.xacro'
                        body_size_x:=$(arg body_size)" />
        <remap from="/joint_states" to="/engrais/joint_states" />
    </node>

</launch>
