<?xml version="1.6" ?>
<launch>

	<!--> Lidar IP <-->
	<arg name="IP_Lidar" default="192.168.10.112"/>


	<!--> Node Name <-->
	<arg name="findlines_node_name" default="default_findlines"/>
	<arg name="filter_node_name" default="default_filter"/>
	<arg name="sick_node_name" default="default_sick_tim"/>


	<!--> ROS Topic Names <-->
	<arg name="scan_topic" default="default/raw_lidar_points"/>
	<arg name="filtered_topic" default="default/filtered_lidar_points"/>
	<arg name="lines_topic" default="default/found_lines"/>


	<!--> Rviz Frame Name <-->
	<arg name="rviz_frame_name" default="laser_front"/>


	<!--> Filter Arguments <-->
	<arg name="radius_min" default="0.55"/>
	<arg name="radius_max" default="INFINITY"/>

	<arg name="box_x_min" default="0.0"/>
	<arg name="box_x_max" default="INFINITY"/>

	<arg name="box_y_min" default="-INFINITY"/>
	<arg name="box_y_max" default="INFINITY"/>

	<arg name="filter_operator" default="union"/>


	<!--> Find Lines Arguments <-->
	<arg name="used_algorithm" default="RubyGeneticOnePointPosNeg"/>
    <arg name="emer_topic" default="none"/>
    <arg name="output_file_name" default="none"/>


    <!--> Launch Sick Tim node <-->
	<include file="$(find sick_tim)/launch/$(arg rviz_frame_name).launch">
		<arg name="lidar_IP" value="$(arg IP_Lidar)"/>
		<arg name="node_name" value="$(arg sick_node_name)"/>
		<arg name="publish_topic" value="$(arg scan_topic)"/>
		<arg name="frame_name" value="$(arg rviz_frame_name)"/>
	</include>


    <!--> Launch Filter node <-->
	<node name="$(arg filter_node_name)" pkg="engrais_control" type="robot_filter" output="screen">
		<param name="subscribe_topic" type="string" value="$(arg scan_topic)"/>
		<param name="publish_topic" type="string" value="$(arg filtered_topic)"/>

		<param name="radius_minimum" type="double" value="$(arg radius_min)"/>
		<param name="radius_maximum" type="double" value="$(arg radius_max)"/>

		<param name="box_x_minimum" type="double" value="$(arg box_x_min)"/>
		<param name="box_x_maximum" type="double" value="$(arg box_x_max)"/>

		<param name="box_y_minimum" type="double" value="$(arg box_y_min)"/>
		<param name="box_y_maximum" type="double" value="$(arg box_y_max)"/>

		<param name="operator" type="string" value="$(arg filter_operator)"/>

	</node>


    <!--> Launch Findlines node <-->
	<node name="$(arg findlines_node_name)" pkg="engrais_control" type="robot_findlines">
		<param name="subscribe_topic" type="string" value="$(arg filtered_topic)"/>
		<param name="publish_topic" type="string" value="$(arg lines_topic)"/>

		<param name="rviz_frame" type="string" value="$(arg rviz_frame_name)"/>
		<param name="algorithm" type="string" value="$(arg used_algorithm)"/>

        <param name="emergency_topic" type="string" value="$(arg emer_topic)"/>
        <param name="arq_name" type="string" value="$(arg output_file_name)"/>
	</node>

</launch>
