<?xml version="1.6" ?>
<launch>

	<!--> Node Name <-->
	<arg name="findlines_node_name" default="default_findlines"/>


	<!--> ROS Topic Names <-->
	<arg name="subscribe_topic" default="default/lidarPoints"/>
	<arg name="publish_topic" default="default/foundLines"/>


	<!--> Rviz Frame Name <-->
	<arg name="rviz_frame" default="world"/>


	<!--> Find Lines Arguments <-->
	<arg name="algorithm" default="RubyGeneticOnePointPosNeg"/>
    <arg name="emergency_topic" default="none"/>
    <arg name="arq_name" default="none"/>


    <!--> Launch node <-->
	<node name="$(arg findlines_node_name)" pkg="engrais_control" type="robot_findlines">
		<param name="subscribe_topic" type="string" value="$(arg subscribe_topic)"/>
		<param name="publish_topic" type="string" value="$(arg publish_topic)"/>

		<param name="rviz_frame" type="string" value="$(arg rviz_frame)"/>
		<param name="algorithm" type="string" value="$(arg algorithm)"/>

        <param name="emergency_topic" type="string" value="$(arg emergency_topic)"/>
        <param name="arq_name" type="string" value="$(arg arq_name)"/>
	</node>

</launch>
