<?xml version="1.0" ?>

<launch>
    <arg name="keyboard_node_name" default="keyaboard_move_node" />
    <arg name="publish_topic_right" default="rightCommand" />
    <arg name="publish_topic_left" default="leftCommand" />

    <node name="$(arg keyboard_node_name)" pkg="engrais_control" type="robot_keyboard_move">
        <param name="pub_topic_right" type="string" value="$(arg publish_topic_right)"/>
        <param name="pub_topic_left" type="string" value="$(arg publish_topic_left)"/>
    </node>

</launch>