<?xml version="1.6" ?>
<launch>

	<!--> Robot Find Lines arguments <-->
	<arg name="front_scan_topic" value="scan1"/>
	<arg name="front_lines_topic" value="/engrais/laser_front/lines"/>
	<arg name="front_rviz_frame" value="laser1"/>


	<include file="$(find sick_tim)/launch/engrais1.launch" />

	<include file="$(find engrais_control)/launch/findlines.launch">
		<arg name="subscribe_topic_front" value="$(arg front_scan_topic)"/>
		<arg name="publish_topic_front" value="$(arg front_lines_topic)"/>
		<arg name="rviz_frame_front" value="$(arg front_rviz_frame)"/>

	</include>

</launch>
