<?xml version="1.6" ?>
<launch>

	<!--> Robot Find Lines arguments <-->
	<arg name="front_scan_topic" value="/engrais/laser_front/scan"/>
	<arg name="front_lines_topic" value="/engrais/laser_front/lines"/>
	<arg name="front_rviz_frame" value="sick_front_link"/>

	<arg name="back_scan_topic" value="/engrais/laser_back/scan"/>
	<arg name="back_lines_topic" value="/engrais/laser_back/lines"/>
	<arg name="back_rviz_frame" value="sick_back_link"/>

	<arg name="algorithm" />
	<arg name="file_name" />
	<arg name="execution_file_name" />

	<!--> Robot Central arguments <-->
	<arg name="left_weel_topic" value="/engrais/leftWheel_controller/command"/>
	<arg name="right_weel_topic" value="/engrais/rightWheel_controller/command"/>


	<include file="$(find engrais_control)/launch/central.launch">
		<arg name="subscribe_topic_1" value="$(arg front_lines_topic)"/>
		<arg name="subscribe_topic_2" value="$(arg back_lines_topic)"/>
		
		<arg name="publish_left_wheel" value="$(arg left_weel_topic)"/>
		<arg name="publish_right_wheel" value="$(arg right_weel_topic)"/>
	</include>

	<!--><include file="$(find engrais_description)/launch/rviz.launch" /><-->

	<include file="$(find engrais_control)/launch/findlines.launch">
		<arg name="subscribe_topic_front" value="$(arg front_scan_topic)"/>
		<arg name="publish_topic_front" value="$(arg front_lines_topic)"/>
		<arg name="rviz_frame_front" value="$(arg front_rviz_frame)"/>

		<arg name="subscribe_topic_back" value="$(arg back_scan_topic)"/>
		<arg name="publish_topic_back" value="$(arg back_lines_topic)"/>
		<arg name="rviz_frame_back" value="$(arg back_rviz_frame)"/>

		<arg name="exec_file_name" value="$(arg execution_file_name)"/>
		<arg name="used_algorithm" value="$(arg algorithm)"/>
	</include>

	<node name="robot_pose" pkg="engrais_control" type="robot_get_pose" output="screen">
		<param name="arq_name" type="string" value="$(arg file_name)"/>
	</node>
	
</launch>
