engrais_control/src/.fuzzylite-6.0/bin/fuzzylite
engrais_control/src/.fuzzylite-6.0/bin/libfuzzylite.so
engrais_control/src/.fuzzylite-6.0/bin/libfuzzylite.so.6.0
engrais_control/src/.fuzzylite-6.0/bin/libfuzzylite-static.a