<?xml version="1.0" ?>

<launch>

    <!-- PARAMETERS -->
    <param name="port_name" value="/dev/ttyUSB0" />
    <param name="baud" value="57600" />
    <param name="parity" value="0" /> <!-- 0:None, 1:odd, 2:even -->
    <param name="stop_bit" value="1" /> <!-- 1:One, 2:Two, 3:One point five -->
    <param name="data_bits" value="8" /> <!-- 5, 6, 7 or 8 -->
    <param name="hdw_flow_ctrl" value="0" /> <!-- 0:None, 1:software, 2:hardware -->
    <param name="timeout" value="1000" />
    

    <!-- The motor node -->
    <node name="motor0" type= "motor_node" pkg="engrais_motors" output="screen" />

</launch>


