<?xml version="1.6" ?>
<launch>

    <!-- IP Values -->
    <arg name="rasp1_IP" default="192.168.10.101" />
    <arg name="rasp2_IP" default="192.168.10.102" />

    <arg name="rasp3_IP" default="192.168.10.103" />
    <arg name="rasp4_IP" default="192.168.10.104" />

    <arg name="back_lidar_IP" default="192.168.10.111"/>
	<arg name="front_lidar_IP" default="192.168.10.112"/>

    <arg name="central_IP" default="$(optenv ROS_MASTER_IP 192.168.10.105)" />


    <!--Node Names -->
	<arg name="back_sick_node_name" default="sick_back_rpi_3"/>
	<arg name="front_sick_node_name" default="sick_front_rpi_4"/>

    <arg name="back_filter_node_name" default="engrais_filter_back"/>
    <arg name="front_filter_node_name" default="engrais_filter_front"/>

	<arg name="back_findlines_node_name" default="engrais_findlines_back"/>
	<arg name="front_findlines_node_name" default="engrais_findlines_front"/>

    <arg name="central_node_name" default="engrais_central"/>

    <arg name="controller_move_node_name" default="controller_move_node" />

    <arg name="right_motor_node_name" default="right_side_wheels" />
    <arg name="left_motor_node_name" default="left_side_wheels" />


    <!--> ROS Topic Names <-->
    <arg name="back_scan_topic" default="/lidar_points/raw_scan_back"/>
    <arg name="front_scan_topic" default="/lidar_points/raw_scan_front"/>

    <arg name="back_filtered_topic" default="/lidar_points/filtered_scan_back"/>
    <arg name="front_filtered_topic" default="/lidar_points/filtered_scan_front"/>

    <arg name="back_lines_topic" default="/lines/lines_back"/>
    <arg name="front_lines_topic" default="/lines/lines_front"/>

    <arg name="emer_topic_name" default="none"/>
    <arg name="change_mode_topic" default="settings/change_mode_topic"/>

    <arg name="left_wheel_control_signal" default="/control_signal/left_wheel"/>
    <arg name="right_wheel_control_signal" default="/control_signal/right_wheel"/>

    <arg name="central_selected_lines_topic" default="/lines/selected_lines"/>


    <!--> Filter Arguments <-->
    <arg name="radius_minimum" default="0.55"/>
    <arg name="radius_maximum" default="INFINITY"/>

    <arg name="box_x_minimum" default="0.0"/>
    <arg name="box_x_maximum" default="INFINITY"/>

    <arg name="box_y_minimum" default="-INFINITY"/>
    <arg name="box_y_maximum" default="INFINITY"/>

    <arg name="operator" default="union"/>


    <!-- USB Names -->
    <arg name="right_serial_back_port" default="/dev/ttyUSB0" />
    <arg name="right_serial_front_port" default="/dev/ttyUSB1" />

    <arg name="left_serial_back_port" default="/dev/ttyUSB0" />
    <arg name="left_serial_front_port" default="/dev/ttyUSB1" />


    <!-- Robot Side -->
    <arg name="right_robot_side" default="right" />
    <arg name="left_robot_side" default="left" />


    <!-- Bluetooth Infos -->
    <arg name="bluetooth_device_address" default="98:3b:8f:78:58:1f" />
    <!--> <arg name="bluetooth_device_address" default="00:04:4b:a5:db:33" /> < Jetson -->
    <arg name="device_name" default="Wireless Controller" />
    

    <!-- Common Serial Arguments -->
    <arg name="serial_baud_value" default="57600" />
    <arg name="serial_parity_value" default="0" /> <!-- 0:None, 1:odd, 2:even -->
    <arg name="serial_stop_bit_value" default="1" /> <!-- 1:One, 2:Two, 3:One point five -->
    <arg name="serial_data_bits_value" default="8" /> <!-- 5, 6, 7 or 8 -->
    <arg name="serial_hdw_flow_ctrl_value" default="0" /> <!-- 0:None, 1:software, 2:hardware -->
    <arg name="serial_timeout_value" default="50" />


	<!-- Rviz Frame Names -->
	<arg name="back_rviz_frame" default="laser_back"/>
	<arg name="front_rviz_frame" default="laser_front"/>


	<!--> Findlines Arguments <-->
	<arg name="algorithm" default="RubyGeneticOnePointPosNeg"/>
    <arg name="output_file" default="none"/>


	<!--> Robot Infos <-->
	<arg name="mode" default="manual"/>

	<arg name="number_lines" default="4"/>
	<arg name="turn_times" default="5"/>
	<arg name="sleep_time_ms" default="250"/>

	<arg name="max_velocity" default="1.0"/>
	<arg name="body_size" default="1.1"/>

	<arg name="central_global_frame" default="body"/>


    <!-- Connect to Rasp1 -->
    <machine name="rasp1" address="$(arg rasp1_IP)" user="engrais" password="engrais" env-loader="~/catkin_ws/src/istiaENGRAIS/config/config.sh" default="true"/>

    <include file="$(find engrais_motors)/launch/motor.launch">
        <arg name="motor_node_name" value="$(arg right_motor_node_name)" />

        <arg name="sub_topic_name" value="$(arg right_wheel_control_signal)" />
        <arg name="emer_topic" value="$(arg emer_topic_name)"/>

        <arg name="back_port_name" value="$(arg right_serial_back_port)" />
        <arg name="front_port_name" value="$(arg right_serial_front_port)" />

        <arg name="robot_side" value="$(arg right_robot_side)" />

        <arg name="serial_baud" value="$(arg serial_baud_value)" />
        <arg name="serial_parity" value="$(arg serial_parity_value)" />
        <arg name="serial_stop_bit" value="$(arg serial_stop_bit_value)" />
        <arg name="serial_data_bits" value="$(arg serial_data_bits_value)" />
        <arg name="serial_hdw_flow_ctrl" value="$(arg serial_hdw_flow_ctrl_value)" />
        <arg name="serial_timeout" value="$(arg serial_timeout_value)" />

    </include>


    <!-- Connect to Rasp2 -->
    <machine name="rasp2" address="$(arg rasp2_IP)" user="engrais" password="engrais" env-loader="~/catkin_ws/src/istiaENGRAIS/config/config.sh" default="true"/>

    <include file="$(find engrais_motors)/launch/motor.launch">
        <arg name="motor_node_name" value="$(arg left_motor_node_name)" />

        <arg name="sub_topic_name" value="$(arg left_wheel_control_signal)" />
        <arg name="emer_topic" value="$(arg emer_topic_name)"/>

        <arg name="back_port_name" value="$(arg left_serial_back_port)" />
        <arg name="front_port_name" value="$(arg left_serial_front_port)" />

        <arg name="robot_side" value="$(arg left_robot_side)" />

        <arg name="serial_baud" value="$(arg serial_baud_value)" />
        <arg name="serial_parity" value="$(arg serial_parity_value)" />
        <arg name="serial_stop_bit" value="$(arg serial_stop_bit_value)" />
        <arg name="serial_data_bits" value="$(arg serial_data_bits_value)" />
        <arg name="serial_hdw_flow_ctrl" value="$(arg serial_hdw_flow_ctrl_value)" />
        <arg name="serial_timeout" value="$(arg serial_timeout_value)" />

    </include>

<machine name="rasp3" address="$(arg rasp3_IP)" user="engrais" password="engrais" env-loader="~/catkin_ws/src/istiaENGRAIS/config/config.sh" default="true"/>

    <include file="$(find engrais_control)/launch/findlines.launch">

        <arg name="IP_Lidar" value="$(arg back_lidar_IP)"/>

        <arg name="findlines_node_name" value="$(arg back_findlines_node_name)"/>
        <arg name="filter_node_name" default="$(arg back_filter_node_name)"/>
        <arg name="sick_node_name" value="$(arg back_sick_node_name)"/>

        <arg name="scan_topic" value="$(arg back_scan_topic)"/>
        <arg name="filtered_topic" value="$(arg back_filtered_topic)"/>
        <arg name="lines_topic" value="$(arg back_lines_topic)"/>

        <arg name="rviz_frame_name" value="$(arg back_rviz_frame)"/>

        <arg name="radius_min" value="$(arg radius_minimum)"/>
        <arg name="radius_max" value="$(arg radius_maximum)"/>

        <arg name="box_x_min" value="$(arg box_x_minimum)"/>
        <arg name="box_x_max" value="$(arg box_x_maximum)"/>

        <arg name="box_y_min" value="$(arg box_y_minimum)"/>
        <arg name="box_y_max" value="$(arg box_y_maximum)"/>

        <arg name="filter_operator" value="$(arg operator)"/>
        
        <arg name="used_algorithm" value="$(arg algorithm)"/>
        <arg name="emer_topic" value="$(arg emer_topic_name)"/>
        <arg name="output_file_name" value="$(arg output_file)"/>

    </include>


    <machine name="rasp4" address="$(arg rasp4_IP)" user="engrais" password="engrais" env-loader="~/catkin_ws/src/istiaENGRAIS/config/config.sh" default="true"/>

    <include file="$(find engrais_control)/launch/findlines.launch">

        <arg name="IP_Lidar" value="$(arg front_lidar_IP)"/>

        <arg name="findlines_node_name" value="$(arg front_findlines_node_name)"/>
        <arg name="filter_node_name" default="$(arg front_filter_node_name)"/>
        <arg name="sick_node_name" value="$(arg front_sick_node_name)"/>

        <arg name="scan_topic" value="$(arg front_scan_topic)"/>
        <arg name="filtered_topic" value="$(arg front_filtered_topic)"/>
        <arg name="lines_topic" value="$(arg front_lines_topic)"/>

        <arg name="rviz_frame_name" value="$(arg front_rviz_frame)"/>

        <arg name="radius_min" value="$(arg radius_minimum)"/>
        <arg name="radius_max" value="$(arg radius_maximum)"/>

        <arg name="box_x_min" value="$(arg box_x_minimum)"/>
        <arg name="box_x_max" value="$(arg box_x_maximum)"/>

        <arg name="box_y_min" value="$(arg box_y_minimum)"/>
        <arg name="box_y_max" value="$(arg box_y_maximum)"/>
        
        <arg name="filter_operator" value="$(arg operator)"/>

        <arg name="used_algorithm" value="$(arg algorithm)"/>
        <arg name="emer_topic" value="$(arg emer_topic_name)"/>
        <arg name="output_file_name" value="$(arg output_file)"/>

    </include>


 	<!-- Connect to Central -->
 	<machine name="central" address="$(arg central_IP)" user="usrlocal" password="usrlocal2019" env-loader="~/catkin_ws/src/istiaENGRAIS/config/config.sh" default="true"/>

 	<include file="$(find engrais_control)/launch/control.launch">

		<!--> Node Name <-->
	    <arg name="control_node_name" value="$(arg central_node_name)"/>

	    <!--> ROS Topic Name <-->
		<arg name="sub_topic_back" value="$(arg back_lines_topic)"/>
		<arg name="sub_topic_front" value="$(arg front_lines_topic)"/>

		<arg name="pub_topic_left" value="$(arg left_wheel_control_signal)"/>
		<arg name="pub_topic_right" value="$(arg right_wheel_control_signal)"/>

	    <arg name="change_mode_topic_name" value="$(arg change_mode_topic)"/>
	    <arg name="emer_topic" value="$(arg emer_topic_name)"/>

	    <arg name="selected_lines_topic" value="$(arg central_selected_lines_topic)"/>

		<!--> Robot Infos <-->
		<arg name="robot_mode" value="$(arg mode)"/>

		<arg name="robot_number_lines" value="$(arg number_lines)"/>
		<arg name="robot_turn_times" value="$(arg turn_times)"/>
		<arg name="control_sleep_time_ms" value="$(arg sleep_time_ms)"/>

		<arg name="robot_max_velocity" value="$(arg max_velocity)"/>
		<arg name="robot_body_size" value="$(arg body_size)"/>

		<arg name="global_frame" value="$(arg central_global_frame)"/>

 	</include>


    <node name="$(arg controller_move_node_name)" pkg="engrais" type="robot_controller_move.py" output="screen">
        <param name="bluetooth_address" type="string" value="$(arg bluetooth_device_address)"/>        
        <param name="bluetooth_device_name" type="string" value="$(arg device_name)"/>
        
        <param name="pub_topic_left" type="string" value="$(arg left_wheel_control_signal)"/>        
        <param name="pub_topic_right" type="string" value="$(arg right_wheel_control_signal)"/>
        
        <param name="mode_change_topic" type="string" value="$(arg change_mode_topic)"/>
        <param name="emergency_topic" type="string" value="$(arg emer_topic_name)"/>

        <param name="desired_velocity" type="double" value="$(arg max_velocity)"/>
    </node>

</launch>