<?xml version="1.6" ?>
<launch>

	<!--> Node Names <-->
	<arg name="front_findlines_node_name" default="engrais_findlines_front"/>
	<arg name="back_findlines_node_name" default="engrais_findlines_back"/>
    <arg name="central_node_name" default="engrais_central"/>


	<!--> ROS Topic Names <-->
	<arg name="front_scan_topic" default="/engrais/laser_front/scan"/>
	<arg name="front_lines_topic" default="/engrais/laser_front/lines"/>

	<arg name="back_scan_topic" default="/engrais/laser_back/scan"/>
	<arg name="back_lines_topic" default="/engrais/laser_back/lines"/>

	<arg name="left_weel_topic" default="/engrais/leftWheel_controller/command"/>
	<arg name="right_weel_topic" default="/engrais/rightWheel_controller/command"/>

    <arg name="change_mode_topic" default="none"/>
    <arg name="emergency_topic" default="none"/>

    <arg name="selected_lines_topic_name" default="/engrais/robot_move/selected_lines"/>


	<!--> Rviz Frame Name <-->
	<arg name="rviz_frame" default="world"/>
	<arg name="front_rviz_frame" default="sick_front_link"/>
	<arg name="back_rviz_frame" default="sick_back_link"/>


	<!--> Find Lines Arguments <-->
	<arg name="algorithm" default="RubyGeneticOnePointPosNeg"/>
    <arg name="execution_time_file" default="none"/>


    <!--> Robot Infos <-->
	<arg name="mode" default="automatic"/>

	<arg name="number_lines" default="4"/>
	<arg name="turn_times" default="5"/>
	<arg name="sleep_time_ms" default="250"/>

	<arg name="max_velocity" default="0.7"/>
	<arg name="body_size" default="1.1"/>


	<include file="$(find engrais_control)/launch/findlines.launch">
		<arg name="findlines_node_name" value="$(arg front_findlines_node_name)"/>

		<arg name="subscribe_topic" value="$(arg front_scan_topic)"/>
		<arg name="publish_topic" value="$(arg front_lines_topic)"/>

		<arg name="rviz_frame" value="$(arg front_rviz_frame)"/>

		<arg name="algorithm" value="$(arg algorithm)"/>
	    <arg name="emergency_topic" value="$(arg emergency_topic)"/>
	    <arg name="arq_name" value="$(arg execution_time_file)"/>
	</include>


	<include file="$(find engrais_control)/launch/findlines.launch">
		<arg name="findlines_node_name" value="$(arg back_findlines_node_name)"/>

		<arg name="subscribe_topic" value="$(arg back_scan_topic)"/>
		<arg name="publish_topic" value="$(arg back_lines_topic)"/>

		<arg name="rviz_frame" value="$(arg back_rviz_frame)"/>

		<arg name="algorithm" value="$(arg algorithm)"/>
	    <arg name="emergency_topic" value="$(arg emergency_topic)"/>
	    <arg name="arq_name" value="$(arg execution_time_file)"/>
	</include>


	<include file="$(find engrais_control)/launch/control.launch">
		<arg name="control_node_name" value="$(arg central_node_name)"/>

		<arg name="subscribe_topic_back" value="$(arg back_lines_topic)"/>
		<arg name="subscribe_topic_front" value="$(arg front_lines_topic)"/>

		<arg name="publish_topic_left" value="$(arg left_weel_topic)"/>
		<arg name="publish_topic_right" value="$(arg right_weel_topic)"/>

		<arg name="change_mode_topic" value="$(arg change_mode_topic)"/>
		<arg name="emergency_topic" value="$(arg emergency_topic)"/>
		<arg name="rviz_topic" value="$(arg selected_lines_topic_name)"/>

	    <arg name="mode" value="$(arg mode)"/>

	    <arg name="number_lines" value="$(arg number_lines)"/>
	    <arg name="turn_times" value="$(arg turn_times)"/>
	    <arg name="sleep_time_ms" value="$(arg sleep_time_ms)"/>

	    <arg name="max_velocity" value="$(arg max_velocity)"/>
	    <arg name="body_size" value="$(arg body_size)"/>

    	<arg name="rviz_frame" value="$(arg rviz_frame)"/>

	</include>

</launch>
