<?xml version="1.6" ?>
<launch>

	<!-- IP Values -->
    <arg name="central_IP" default="$(optenv ROS_MASTER_IP 192.168.10.105)" />

	<!--> Node Name <-->
    <arg name="central_node_name" default="engrais_central"/>

    <!--> ROS Topic Name <-->
	<arg name="back_lines_topic" default="/lines/front_lines"/>
	<arg name="front_lines_topic" default="/lines/back_lines"/>

	<arg name="left_wheel_control_signal" default="/control_signal/left_wheel"/>
	<arg name="right_wheel_control_signal" default="/control_signal/right_wheel"/>

    <arg name="change_mode_topic" default="none"/>
    <arg name="emer_topic_name" default="none"/>

    <arg name="central_selected_lines_topic" default="/lines/selected_lines"/>

	<!--> Robot Infos <-->
	<arg name="mode" default="automatic"/>

	<arg name="number_lines" default="4"/>
	<arg name="turn_times" default="2"/>
	<arg name="sleep_time_ms" default="250"/>

	<arg name="max_velocity" default="1.0"/>
	<arg name="body_size" default="1.0"/>

	<arg name="central_global_frame" default="body"/>


 	<!-- Connect to Central -->
 	<machine name="central" address="$(arg central_IP)" user="usrlocal" password="usrlocal2019" env-loader="~/catkin_ws/src/istiaENGRAIS/config/config.sh" default="true"/>

 	<include file="$(find engrais_control)/launch/control.launch">

		<!--> Node Name <-->
	    <arg name="control_node_name" value="$(arg central_node_name)"/>

	    <!--> ROS Topic Name <-->
		<arg name="sub_topic_back" value="$(arg back_lines_topic)"/>
		<arg name="sub_topic_front" value="$(arg front_lines_topic)"/>

		<arg name="pub_topic_left" value="$(arg left_wheel_control_signal)"/>
		<arg name="pub_topic_right" value="$(arg right_wheel_control_signal)"/>

	    <arg name="change_mode_topic_name" value="$(arg change_mode_topic)"/>
	    <arg name="emer_topic" value="$(arg emer_topic_name)"/>

	    <arg name="selected_lines_topic" value="$(arg central_selected_lines_topic)"/>

		<!--> Robot Infos <-->
		<arg name="robot_mode" value="$(arg mode)"/>

		<arg name="robot_number_lines" value="$(arg number_lines)"/>
		<arg name="robot_turn_times" value="$(arg turn_times)"/>
		<arg name="control_sleep_time_ms" value="$(arg sleep_time_ms)"/>

		<arg name="robot_max_velocity" value="$(arg max_velocity)"/>
		<arg name="robot_body_size" value="$(arg body_size)"/>

		<arg name="global_frame" value="$(arg central_global_frame)"/>

 	</include>

</launch>
