<?xml version="1.6" ?>
<launch>
	<!--> Periferals IPs <-->
    <arg name="rasp3_IP" default="192.168.10.103" />
	<arg name="lidar_IP" default="192.168.10.111"/>

	<!--> Nodes Names <-->
    <arg name="findlines_node" default="engrais_findlines_back"/>
	<arg name="sick_node" default="sick_back_rpi_3"/>

	<!--> ROS Topic Names <-->
	<arg name="scan_topic_name" default="/lidar_points/scan_back"/>
	<arg name="lines_topic_name" default="/lines/lines_back"/>

	<!--> Rviz Frame <-->
	<arg name="rviz_frame" default="laser_back"/>

	<!--> Findlines Arguments <-->
	<arg name="algorithm" default="RubyGeneticOnePointPosNeg"/>
    <arg name="emer_topic_name" default="none"/>
    <arg name="output_file" default="none"/>


 	<machine name="rasp3" address="$(arg rasp3_IP)" user="engrais" password="engrais" env-loader="~/catkin_ws/src/istiaENGRAIS/config/config.sh" default="true"/>

	<include file="$(find engrais_control)/launch/findlines.launch">

	    <arg name="IP_Lidar" value="$(arg lidar_IP)"/>

	    <arg name="findlines_node_name" value="$(arg findlines_node)"/>
	    <arg name="sick_node_name" value="$(arg sick_node)"/>

	    <arg name="scan_topic" value="$(arg scan_topic_name)"/>
	    <arg name="lines_topic" value="$(arg lines_topic_name)"/>

	    <arg name="rviz_frame_name" value="$(arg rviz_frame)"/>
	    
	    <arg name="used_algorithm" value="$(arg algorithm)"/>
        <arg name="emer_topic" value="$(arg emer_topic_name)"/>
	    <arg name="output_file_name" value="$(arg output_file)"/>

	</include>

</launch>
