<?xml version="1.6" ?>
<launch>

	<!--> Sick Tim Arguments <-->
    <arg name="rasp4_IP" default="192.168.10.104" />

	<arg name="IP_Lidar" default="192.168.10.112"/>
	<arg name="sick_node_name" default="sick_2_rpi_4"/>
	<arg name="scan_topic" default="scan2"/>
	<arg name="rviz_frame" default="laser2"/>
	
	<!--> Find Lines Arguments <-->
	<arg name="lines_topic" default="lines2"/>
	<arg name="findlines_node_name" default="engrais_findlines_2"/>


 	<machine name="rasp4" address="$(arg rasp4_IP)" user="engrais" password="engrais" env-loader="~/catkin_ws/src/istiaENGRAIS/config/config.sh" default="true"/>

	<include file="$(find sick_tim)/launch/$(arg rviz_frame).launch">
		<arg name="lidar_IP" value="$(arg IP_Lidar)"/>
		<arg name="node_name" value="$(arg sick_node_name)"/>
		<arg name="publish_topic" value="$(arg scan_topic)"/>
		<arg name="frame_name" value="$(arg rviz_frame)"/>
	</include>

	<node name="$(arg findlines_node_name)" pkg="engrais_control" type="robot_findlines">
		<param name="subscribe_topic" type="string" value="$(arg scan_topic)"/>
		<param name="publish_topic" type="string" value="$(arg lines_topic)"/>
		<param name="frame_name" type="string" value="$(arg rviz_frame)"/>
	</node>

</launch>
