<?xml version="1.0"?>
<model>
    <name>plantgreen</name>
    <version>1.0</version>
    <sdf version="1.5">plantgreen.sdf</sdf>
    <author>
        <name>Remy</name>
        <email>remy.guyonneau@univ-angers.fr</email>
    </author>
    <description>
        A green "plant"
    </description>
</model>
