<?xml version="1.0"?>
  <model>
    <name>plantred</name>
    <version>1.0</version>
    <sdf version="1.4">plantred.sdf</sdf>
    <author>
      <name>Remy</name>
      <email>remy.guyonneau@univ-angers.fr</email>
    </author>
    <description>
      The plantred model, used for weeds (outliers)
    </description>
  </model>
